.btn-primary{
    background-color: $theme;
    border: none;
    color: #ffffff;
    &:hover{
        background-color: #86BC42;
        color: #ffffff;
    }
}
.btn-success{
    background-color: $theme;
    padding: 2px 8px;
    border: none;
    color: #ffffff;
    &:hover{
        background-color: #86BC42;
        color: #ffffff;
    } 
}